@charset "utf-8";
/* 음원사이트 메인페이지 CSS - main.css */

/* 외부 CSS 합치기 */
@import url(reset.css);
@import url(core.css);
@import url(comon.css);
@import url(midiaquery.css);

/* 공사중 표시 */
body * {
  /* outline: 3px dotted red; */
  /*임시!!!!*/
  color: darkgoldenrod;
  /* font-size: 3vw; */
}

body {
  height: auto;
}

/* 배경 영상 디자인 잡기 */
.VID {
  /* z-index로 간섭 불가하게 만들기 */
  z-index: -9999999;
  /* 포지션 픽스드 움지이지 않고 따라다닌다 */
  position: fixed;

  /* 크기조정값 */
  width: 100vw;
  object-fit: cover;
  height: 100%;
}

.lm {
  color: aqua;
  width: 97%;
  position: absolute;
  top: 10px;
  display: flex;
  justify-content: flex-end;
}
/* 로그인 */
.login {
  padding: 0 7px;
  color: #fff;
  font-size: 1vw;
  font-weight: bold;
  font-family: 'Dancing Script', cursive;
}

/* 회원가입 */
.member {
  padding: 0 7px;
  color: #fff;
  font-size: 1vw;
  font-weight: bold;
  font-family: 'Dancing Script', cursive;
}

/* 상단 햄버거버튼*/
.topbtn {
  /* 위치조정 */
  transition: all .7s ease-out ;
  overflow: hidden;
  top: 33px;
  left: 7px;
  
  position: fixed;
  width: min(20%, 100px);
  height: 7%;
  z-index: 9999999999999999;
  opacity: 0.5;
  /* background-color: #fff; */
}
.topbtn::before {
  content: "";
  position: absolute;
  padding-top: 100%;
  display: block;
}
.topbtn > div {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
/* 밑줄 쫙쫙!! */
.topbtn > div > span {
  position: absolute;
  display: block;
  width: 100%;
  height: 1px;

  transition: all 0.5s ease-out;
}

/* topbtn안에 있는 작대기들 개별 */
.topbtn > div > span:nth-child(1) {
  height: 2px;
  background-color: #fff;
  top: 1px;
}
.topbtn > div > span:nth-child(2) {
  width: 80%;
  background-color: aliceblue;
  top: 10px;
}

.topbtn > div > span:nth-child(3) {
  background-color: #fff;
  top: 20px;
}
.topbtn > div > span:nth-child(4) {
  width: 70%;
  background-color: aliceblue;
  top: 30px;
}
.topbtn > div > span:nth-child(5) {
  width: 80%;
  background-color: #fff;
  top: 40px;
}
.topbtn > div > span:nth-child(6) {
  background-color: aliceblue;
  height: 3px;
  top: 50px;
}
/* 점 2 4 5번 점찍기! */
/* 2번 */
.topbtn > div > span:nth-child(7) {
  right: 0;
  background-color: aliceblue;
  top: 10px;

  height: 2px;
  width: 5%;
}
/* 4번 */
.topbtn > div > span:nth-child(8) {
  right: 0;
  background-color: aliceblue;
  top: 30px;
  width: 15%;
  height: 2px;
}
/* 5번 */
.topbtn > div > span:nth-child(9) {
  right: 0;
  background-color: #fff;
  top: 40px;
  width: 5%;
}

/* 마우스 오버시 트랜지션!! */
.topbtn > div:hover span.cc {
  width: 100%;
}

.topbtn:hover{
  opacity: 1;
  border-radius: 20%;
}
/* 여기까지가 밑줄 쫙 쫙 */
/* 상단 GNB 로고 싸는박스 */
.tbox1 {
  overflow: hidden;
  position: relative;
  width: 100%;
  top: 0;
  z-index: 9999999;
  /* 배경색 */
  background: rgba(255, 255, 255, 0.214);
}

/* 상단 디자인 */
.top {
  position: relative;
  height: 100px;
  z-index: -1;
}

/* 싸는 박스 */
.coverSVG {
  width: 90vw;
  margin: 0 auto;
}
.coverSVG::before {
  position: absolute;
  z-index: -9999;
  content: "";
  display: block;
  padding-top: 30%;
}
.coverSVG > div {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  /* overflow: hidden; */
  z-index: -1;
}

/* SVG 공통 */
.toplogo svg {
  position: absolute;
  top: 2px;
  width: 30.33%;
}

/* SVG개별 */
.toplogo svg:nth-child(1) {
  left: 40.2%;
}
.toplogo svg:nth-child(2) {
  left: 47%;
}
.toplogo svg:nth-child(3) {
  left: 53%;
}
/* SVG PATH 공통 클래스 */
.path {
  fill: none;
  stroke: #fff;
  stroke-width: 2px;

  stroke-dasharray: 300%;
  stroke-dashoffset: -300%;

  animation: pathstrokeani 3s ease-out 0.2s forwards;
}
@keyframes pathstrokeani {
  80% {
    stroke: #fff;
    stroke-dashoffset: 0%;
  }
  90% {
    stroke: rgba(255, 255, 255, 0.214);
    stroke-dashoffset: -300%;
  }
  100% {
    stroke-dashoffset: 0%;
    stroke: lightsteelblue;
  }
}
/* SVG  PATH 개별 디자인 */

/* 상단 글씨로고 */
.mostpopular {
  display: flex;
  justify-content: center;
  font-family: "Fasthand", cursive;
  font-size: 5vw;
  font-weight: bold;
  font-style: italic;

  color: #000;
}
/* p태그 */
.mostpopular > div {
  transition: all 2s;
  width: 0;
  opacity: 0;
  color: lightblue;
}
.mostpopular:hover > div {
  width: auto;
  opacity: 1;
}
.mcpop {
  transition: all 2s;
}
/* 상단 햄버거 버튼 클릭시 나타나는 박스 디자인 */
.wrapp{
  z-index: 999999999;
  width: 0vw;  
  height: 95Vh;
  background-color: aqua;
  top: 0;
  position: fixed;
}
.noise{
  width: 0vw;
  height: 100vh;

  position: fixed;
  z-index: 999;
  top: 0;
  background-color: rgba(128, 128, 128, 0.434);
}
/* ****************************************** */
/* GNB싸는 박스 */
.nav {
  height: 50px;
  margin-top: 0;
}

/* 상단 2개 앨범 디자인 따로잡기 */
.topalbum {
  position: absolute;
  width: min(30vw, 300px);
  /* height: 300px; */

  /* 정중앙 셋팅 */
  top: 50%;
  left: 50%;

  /* 입체 설정 */
  transform-style: preserve-3d;
  /* 입체설정 잘보이게 하기 */
  transform: translate(-50%, -50%) rotateX(10deg) rotateY(30deg);

  z-index: 1;
}
.topalbum::before {
  content: "";
  display: block;
  padding-top: 100%;
}

/* 앨범 하단 스팬 공통 */
.topalbum span {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;

  background-repeat: no-repeat;
  background-size: 100% 100%;
}

/* 앨범 스팬 각자 위치 */
.topalbum span:nth-child(1) {
  background: url(../images/trackalbum/track1-span1.jpg) no-repeat center/100%
    100%;
  transform: translateZ(10px);
}

/* 오른쪽 면 */
.topalbum span:nth-child(2) {
  /* z축으로 밀기 */
  width: 20px;
  background: url(../images/trackalbum/track1-span2.jpg) no-repeat center/100%
    100%;
  right: -10px;
  transform: rotateY(90deg);
}

/* 왼쪽 면 */
.topalbum span:nth-child(3) {
  /* z축으로 밀기 */
  width: 20px;
  transform: rotateY(-90deg);
  background: url(../images/trackalbum/track1-span3.jpg) no-repeat center/100%
    100%;
  left: -10.4px;
}

/* 아래쪽 면  */
.topalbum span:nth-child(4) {
  /* z축으로 밀기 */
  height: 20px;
  background: url(../images/trackalbum/track1-span5.jpg) no-repeat center/100%
    100%; /* z축으로 밀기 */
  top: auto;
  bottom: -10px;
  transform: rotateX(90deg);
}

/* 윗면 */
.topalbum span:nth-child(5) {
  background: url(../images/trackalbum/track1-span4.jpg) no-repeat center/100%
    100%;
  /* z축으로 밀기 */
  height: 20px;
  top: -10px;
  transform: rotateX(90deg);
}

/* 뒷면 */
.topalbum span:nth-child(6) {
  /* z축으로 밀기 */
  background: url(../images/trackalbum/track1-span6.jpg) no-repeat center/100%
    100%;
  transform: translateZ(-10px);
}

/*  두번째 앨범 !!   */
.top2album {
  position: absolute;
  width: min(60vw, 600px);
  /* height: 300px; */

  /* 정중앙 셋팅 */
  top: 50%;
  left: 50%;

  /* 입체 설정 */
  transform-style: preserve-3d;
  /* 입체설정 잘보이게 하기 */
  transform: translate(-50%, -50%) rotateX(10deg) rotateY(30deg);

  z-index: 1;

  animation: top2albumani 5s ease infinite alternate;
}
/* 2번째 애니 */
@keyframes top2albumani {
  to {
    transform: translate(-50%, -50%) rotateX(10deg) rotateY(-30deg);
  }
}
.top2album::before {
  content: "";
  display: block;
  padding-top: 100%;

  background-repeat: no-repeat;
  background-size: 100% 100%;
}

/* 앨범 하단 스팬 공통 */
.top2album span {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;

  background-repeat: no-repeat;
  background-size: 100% 100%;
}

/* 앨범 스팬 각자 위치 */
.top2album span:nth-child(1) {
  /* z축으로 밀기 */
  background: url(../images/trackalbum/track2-span1.jpg) no-repeat center/100%
    100%;
  transform: translateZ(10px);
}

/* 오른쪽 면 */
.top2album span:nth-child(2) {
  /* z축으로 밀기 */
  background: url(../images/trackalbum/track2-span2.jpg) no-repeat center/100%
    100%;
  width: 20px;
  right: -10px;
  transform: rotateY(90deg);
}

/* 왼쪽 면 */
.top2album span:nth-child(3) {
  /* z축으로 밀기 */
  background: url(../images/trackalbum/track2-span3.jpg) no-repeat center/100%
    100%;
  width: 20px;
  transform: rotateY(-90deg);
  left: -10.4px;
}

/* 아래쪽 면  */
.top2album span:nth-child(4) {
  /* z축으로 밀기 */
  background: url(../images/trackalbum/track2-span4.jpg) no-repeat center/100%
    100%;
  height: 20px;
  top: auto;
  bottom: -10px;
  transform: rotateX(90deg);
}

/* 윗면 */
.top2album span:nth-child(5) {
  /* z축으로 밀기 */
  background: url(../images/trackalbum/track2-span5.jpg) no-repeat center/100%
    100%;
  height: 20px;
  top: -10px;
  transform: rotateX(90deg);
}

/* 뒷면 */
.top2album span:nth-child(6) {
  /* z축으로 밀기 */
  background: url(../images/trackalbum/track2-span6.jpg) no-repeat center/ 100%
    100%;
  transform: translateZ(-10px);
}

/* 상단 ul */
.gnb > ul {
  overflow: hidden;
  display: flex;
  justify-content: center;
}

.gnb > ul > li {
  /* 위치조정 */
  width: 100px;
  line-height: 2;

  /* 글씨 조정 */
  text-align: center;
  font-size: 20px;
  margin: 0 15px;
}

/* gnb a 요소 */
.gnb > ul > li > a {
  display: block;
  width: 100%;
  height: 100%;
}

/* ****************************************** */
/* 메인박스 */
.mainbox {
  position: relative;
  width: 100%;
  height: 88vh;
  overflow: hidden;
}

.Lcoverbox {
  z-index: -2;
  position: absolute;
  left: 0;
  width: 16.5%;
  height: 80vh;
  padding: 1px;
  overflow: hidden;
}

/* L사이드 디자인 잡기 */
/* 흘러가는 글자 부모박스 */
.Lside {
  position: absolute;
  top: 0;
  width: 100%;
  height: 99%;
  font-size: 5vw;
  font-family: "Anton", sans-serif;
  color: gray;
  transform-origin: top;
  transform: rotate(90deg);
}

/* 텍스트박스 글자 자식 박스 */
.LsideText {
  position: relative;
  /* 초기값 */
  left: 0;
  width: 200vh;
  top: 0;
  bottom: 0;

  /* ul이 흘러가게 하기 위해서 */
  display: flex;
  /* transform-origin: top; */
}

/* 하위 ul */
.LsideText ul {
  /* li가 흘러가게 하기위해서 */
  display: flex;
  flex: 1;

  margin: 0;
  padding: 0;
  list-style: none;
}

/* 하위 li 공통 셋팅 */
.LsideText ul li {
  /* 상위 ul의 플렉스 등분할 설정 */
  flex: 1;
  text-align: center;
}

@keyframes txtFlow1 {
  to {
    left: -100%;
  }
}

/* ***************************************** */
/* 첫페이지 메인 영역 큰박스 */
/* 1페이지 메인 */
.tm1 {
  /* 포지션 줘서 움직이게 하기 */
  position: absolute;
  right: 0;
  width: 90.9%;
  height: 80vh;
  background-color: #fff;
  /* border-top: 10px solid #000; */
}

/*  메인 첫페이지 우측 설명 박스 */
.mainRside {
  position: absolute;
  right: 0;
  width: 30%;

  border-left: 1px solid #000;
}

/* 메인 박스 앨범 들어가는 박스 */
.mainalbum {
  position: absolute;
  width: 100%;
  top: 50%;
  outline: 1px solid red;
}

.main2 {
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
}

/* 앨범 집약 페이지 */
.main3 {
  width: 100%;
  /* height: 200vw; */
  position: relative;
  /* background-color: gray; */
  display: flex;

  flex-direction: column;
}
.maintrackcover {
  height: 100%;
  margin: 0 auto;
  width: 50%;

  left: calc(50% - 200px);
}

/* 트랙 공통 */
.mtt1 {
  padding: 20px 0;
}
/* 앨범 1~10번 */
/* 1번 */
.track1 {
  position: relative;
  top: 3%;
}
.track2 {
  position: relative;
  top: 4%;
}
.track3 {
  position: relative;
  top: 5%;
}
.track4 {
  position: relative;
  top: 6%;
}
.track5 {
  position: relative;
  top: 7%;
}
.track6 {
  position: relative;
  top: 8%;
}
.track7 {
  position: relative;
  top: 9%;
}
.track8 {
  position: relative;
  top: 10%;
}
.track9 {
  position: relative;
  top: 11%;
}
.track10 {
  position: relative;
  /* top: 12%; */
}

/* 메인 트랙 공통 */
.mtrack {
  transform: translate(-50%, -50%) rotateX(90deg) rotateY(0deg);
  /* 메인 트랙은 앨범이 더커야함!! */
  width: min(66vw, 530px);
  transition: all 1s ease;
}

/* 하단 박스 */
footer {
  position: relative;
  width: 100%;
  height: 500px;
  background-color: white;
  text-align: center;
}
/* 하단 로고 들어가는 부분 */
footer .flogo {
  z-index: 1;
  top: 0;
  position: relative;

  width: 99.2%;
}
/* 하단 SVG 로고 디자인 잡는 부분 */
.infologo {
  width: 100%;
  position: absolute;
  height: 100px;
}
.infologo::before {
  position: absolute;
  /* z-index: -9999; */
  content: "";
  display: block;
  padding-top: 30%;
}
.infologo > div {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.infologo svg {
  top: 5px;
  position: absolute;
  width: 30%;
}
/* SVG하단로고 개별! */
.infologo svg:nth-child(1) {
  left: 35%;
}
.infologo svg:nth-child(2) {
  left: 45.7%;
}
.infologo svg:nth-child(3) {
  left: 56.8%;
}

/* SVG하단로고 PATH 공통 */
.path1 {
  fill: none;
  stroke: #fff;
  stroke-width: 2px;

  stroke-dasharray: 350%;
  stroke-dashoffset: -350%;

  animation: flogoani 5s ease-out 0.2s forwards;
}
/* 애니 메이션 하단로고 */
@keyframes flogoani {
  80% {
    stroke: #fff;
    stroke-dashoffset: 0%;
  }
  90% {
    stroke: gray;
    stroke-dashoffset: -350%;
  }
  100% {
    stroke: aqua;
    stroke-dashoffset: 0%;
  }
}

/* 하단 아이콘 들어가는 부분  */
footer .ffll1 {
  z-index: 1;
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: #fff;
}
/* 하단 별만들기 */
.fooeterstar {
  position: absolute;
  display: flex;

  /* 플렉스 랩핑 박스 */
  flex-wrap: wrap;

  width: 100%;
  height: 100%;
  top: 0;
}
.fooeterstar section {
  background-color: #000;
  position: relative;
  flex-basis: 50%;
}

.fooeterstar section:nth-child(1) {
  border-radius: 0 0 50% 0;
}
.fooeterstar section:nth-child(2) {
  border-radius: 0 0 0 50%;
}
.fooeterstar section:nth-child(3) {
  border-radius: 0 50% 0 0;
}
.fooeterstar section:nth-child(4) {
  border-radius: 50% 0 0 0;
  
}



