@charset "utf-8";

/* 트랙 전용 css */
/* 트랙 공통 */
.track {
  position: relative;
}
/* 메인TRACK 1번 앨범 */
.ttrack {
  animation: ttrackani 20s ease infinite alternate;
}
@keyframes ttrackani {
  to {
    transform: translate(-50%, -50%) rotateX(90deg) rotateY(0deg) rotate(360deg);
  }
}

