@charset "utf-8";
/* 음원사이트 intro페이지 CSS - main.css */

/* 외부 CSS 합치기 */
@import url(reset.css);
@import url(core.css);

body *{
    outline: 2px dotted red;
}
/* 컨셉 = 책 */

.bodywrapp_cover_border{
    width: 100vw;
    height: 100vh;
}

