@charset "utf-8";
/* 음원사이트 intro페이지 CSS - main.css */

/* 외부 CSS 합치기 */
@import url(reset.css);
@import url(core.css);
@import url(introcommon.css);

/* 공사중 확인 */
body * {
  outline: 2px dotted red;
}
/* 배경색 설정 */
body {
  width: 100vw;
  height: 100vh;
  transform-style: preserve-3d;
  background-color: #000;
  overflow: hidden;
}

.pillar {
  transform-style: preserve-3d;
  top: 50%;
  left: 50%;
  width: 90%;
  height: 90%;
  overflow: hidden;
  position: relative;

  transform: translate(-50%, -50%);
}
/* 페이지 공통 */
.page {
  position: absolute;
  width: 500px;
  height: 90%;
  top: 5%;
  left: 50%;

  background-color: #fff;

  transform-origin: left center;
  transform: rotateY(0deg);
  transition: all 1s ease-out;
}
/* 페이지 개별 디자인 */
.frontimg {
  width: 96%;
  height: 100%;
  right: 0;
  position: absolute;
}
/* 페이지공통 - 앨범 클릭시 */
.page .on {
  position: absolute;
  width: 50%;
  height: 70%;
}
.page .tpo {
  transform: rotateY(180deg);
}
/* 페이지를 가르는 막대기 */
.stroke {
  position: absolute;

  width: 20px;
  height: 100%;
  background-color: red;
  left: 0;
}
